
<div *ngIf="book">
    <h2><span jhiTranslate="bookStoreFrontendApp.book.detail.title">Book</span> {{book.id}}</h2>
    <jhi-alert></jhi-alert>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="bookStoreFrontendApp.book.title">Title</span></dt>
        <dd>
            <span>{{book.title}}</span>
        </dd>
        <dt><span jhiTranslate="bookStoreFrontendApp.book.author">Author</span></dt>
        <dd>
            <span>{{book.author}}</span>
        </dd>
        <dt><span jhiTranslate="bookStoreFrontendApp.book.year">Year</span></dt>
        <dd>
            <span>{{book.year}}</span>
        </dd>
        <dt><span jhiTranslate="bookStoreFrontendApp.book.price">Price</span></dt>
        <dd>
            <span>{{book.price}}</span>
        </dd>
        <dt><span jhiTranslate="bookStoreFrontendApp.book.category">Category</span></dt>
        <dd>
            <div *ngIf="book.category">
                <a [routerLink]="['category', book.category?.id]">{{book.category?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            (click)="orderBook(book)"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span > Order</span>
    </button>
</div>
